<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitOne"
        tools:targetApi="31">
        <activity
            android:name=".show_article"
            android:exported="false" />
        <activity
            android:name=".show_article2"
            android:exported="false" />
        <activity
            android:name=".show_article3"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".profile_activity"
            android:exported="false" />
        <activity
            android:name=".register_activity"
            android:exported="false" />
        <activity
            android:name=".login_activity"
            android:exported="false" />
        <activity
            android:name=".open_workout"
            android:exported="false" />
        <activity
            android:name=".open_workout2"
            android:exported="false" />
        <activity
            android:name=".open_workout3"
            android:exported="false" />
        <activity
            android:name=".open_workout4"
            android:exported="false" />
        <activity
            android:name=".open_workout5"
            android:exported="false" />
        <activity
            android:name=".open_workout6"
            android:exported="false" />
        <activity
            android:name=".open_articles"
            android:exported="false" />
        <activity
            android:name=".open_list"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>